*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#logo{
    width: 18%;
    margin: 75px 0px 0px 9px;
}

#banner_background{
    background-image:url(../img/pattern.png);
    background-color: rgba(78,160,255,255);
    height: 180px;
    width: 100%;
}

header{
    margin: 25px 0px 0px 9px;
}

#titolo{
    font-size: 70px;
}

#crediti{
    font-size: 31px;
    color: rgb(144, 144, 144)
}

#autore{
    color: rgb(49, 175, 231);
}

#data{
    font-size: 23px;
    color: rgb(144, 144, 144)

}